.parent-btn-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}

.btn-container button{
    border: 2px solid white;
    padding: 7px;
    font-size: 1.1em;
    border-radius: 5px;
    cursor: pointer;
    transition: .4s;
}

.btn-container button:hover{
   border-color: black;
}